# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / build
node_modules/
dist/
dist-ssr/
*.local

# Env
.env

# OS / IDE
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
**/.venv/
**/venv/

# DB / local data
*.db
*.sqlite
*.sqlite3

# posttrain files
backend/out_posttrain_minilm/
backend/out_wcep_posttrain/
WCEP/

# ML artifacts
*.pt
*.pth
*.bin
*.onnx
*.pkl
*.joblib
*.npy
*.npz
out_posttrain_minilm/
models/
checkpoints/
backend/WCEP/
backend/out_wcep_posttrain/
backend/out_posttrain_minilm/

# SFT/post-training output dirs
backend/out_posttrain_sft_minilm/
backend/out_posttrain_sft_minilm_L12/
backend/out_sft_minilm_L12/
backend/out_wcep_dataset/
backend/out_wcep_dataset_sft/
