# CORE
SECRET="your_secret_token_here"

DATABASE_URL="your_database_url_here"

# FRONTEND
FRONTEND_URL="your frontend url"

# SMTP (GMAIL)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=xxxxxxxxxxxxxxxx
SMTP_FROM=your_email@gmail.com